.intro {
  background: var(--color-bg-mid);
  border-bottom: 1px solid var(--color-stroke);

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    // max-width: 40ex;
    max-width: 100%;
    color: var(--color-theme-feature-text);

    text-align: center;
    text-transform: uppercase;

    &--compact {
      max-width: 20ex;
    }
  }
}