.site-head {
  background: var(--color-bg-dark);
  border-bottom: 1px solid var(--color-stroke);
  
  @media (max-width: 47.99rem) {
    padding-top: get-size(base);
  }

  &__site-name {
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-text);
  }
}
