<ul>
  <li>
    <figure>
      <img src="{{ aboutImg }}" alt="{{ about }}">
    </figure>
    <div>
      <p class="text-600 xl:text-650">{{ aboutText }}</p>
      <a href="{{ aboutUrl }}">{{ aboutCTA }}</a>
    </div>
  </li>

  <li>
    <figure>
      <img src="{{ projectsImg }}" alt="{{ projects }}">
    </figure>
    <div>
      <p class="text-600 xl:text-650">{{ projectsText }}</p>
      <a href="{{ projectsUrl }}">{{ projectsCTA }}</a>
    </div>
  </li>

  <li>
    <figure>
      <img src="{{ contactImg }}" alt="{{ contact }}">
    </figure>
    <div>
      <p class="text-600 xl:text-650">{{ contactText }}</p>
      <a href="{{ contactUrl }}">{{ contactCTA }}</a>
    </div>
  </li>
</ul>