<ul>
  <li>
    <p>{{ aboutText }}</p>
    <a href="{{ aboutUrl }}">{{ aboutCTA }}</a>
    <figure>
      <img src="{{ aboutImg }}" alt="{{ about }}">
    </figure>
  </li>

  <li>
    <p>{{ projectsText }}</p>
    <a href="{{ projectsUrl }}">{{ projectsCTA }}</a>
    <figure>
      <img src="{{ projectsImg }}" alt="{{ projects }}">
    </figure>
  </li>

  <li>
    <p>{{ contactText }}</p>
    <a href="{{ contactUrl }}">{{ contactCTA }}</a>
    <figure>
      <img src="{{ contactImg }}" alt="{{ contact }}">
    </figure>
  </li>
</ul>