<header class="intro">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    {# <h1 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/projects' }} ] [ font-base text-300 leading-tight weight-medium ] [ p-name ]">{{ introHeading }} / </h1> #}
    <nav class="shuffle-filter sub-nav box-flex align-center justify-evenly">
        {# <span class="text-300 weight-medium">{{ introHeading }} / </span> #}
        <a class="nav__item selected" data-target="all">All</a>
        <span>&bull;</span>
        <a class="nav__item" data-target="Houses">Houses</a>
        <span>&bull;</span>
        <a class="nav__item" data-target="Masterplanning">Masterplanning</a>
        <span class="is-hidden-mobile">&bull;</span>
        <a class="nav__item" data-target="Mixed Used Development">Mixed Used Development</a>
        <span>&bull;</span>
        <a class="nav__item" data-target="Office Space">Office Space</a>
    </nav>
    {# {% if introSummary %}
      <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}</div>
    {% endif %} #}
  </div>
</header>
