{% if postListItems.length %}
  <section class="[ post-list ] [ pad-top-base gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      {# <h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">{{ postListHeading }}</h2> #}
      <ol class="[ post-list__items ] [ sf-flow ]" reversed>
        {% for item in postListItems | reverse %}
          {% if item.date.getTime() <= global.now %}
            <li class="post-list__item">
              {% if item.data.featuredImage %}
                <a href="{{ item.url }}">
                  <figure>
                    <img class="post-list__image" src="{{ item.data.featuredImage }}" alt="{{ item.data.title }}">
                  </figure>
                </a>
              {% endif %}
              <div>
                <h3 class="font-base leading-tight text-base md:text-500 weight-medium">
                  <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
                </h3>
                <p class="text-300">
                  <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
                </p>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
      <div class="inner-wrapper back-link gap-top-700 gap-bottom-max">
          <a href="javascript:history.back()" class="button text-200 weight-medium">back</a>
      </div>
    </div>
  </section>
{% endif %}
