<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head ]">
  <div class="fullwidth-wrapper">
    <div class="[ site-head__inner ]">
      <a href="/" class="[ site-head__site-name ] [ text-600 ta-center leading-tight ] [ box-block md:box-hide ]">
        <span class="visually-hidden">{{ site.name }} - Home</span>
        <span class="[ site-head__site-name ] [ text-400 ]" aria-hidden="true">{{ site.name }}</span>
      </a>
      {% set ariaLabel = 'navigation' %}
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
</header>
