.home .site-head {
    border-bottom: none;
}

.home #main-content {
    display: flex;
    align-items: stretch;
    background-color: var(--color-bg-dark);

    ul li:nth-child(2),
    ul li:nth-child(3) {
        display: none;
    }

    div {
        padding: 20px;
    }

    p {
        font-weight: 300;
    }
}

@media (min-width: 60rem) {

    .home #main-content {
        
        ul {
            width: 100%;
        }

        li {
            display: flex;
            align-items: self-end;
            flex-direction: row-reverse;
            justify-content: space-between;
            height: 100%;
        }

        div {
            padding: 0 2.5rem 5rem 5rem;
            flex: 0.33
        }

        p {
            max-width: 640px;
        }

        figure {
            height: 100%;
            flex: 0.66;
            display: flex;
            justify-content: flex-end;

            img {
                height: 100%;
                // object-fit: cover;
            }
        }
    }
}