.home .site-head {
    border-bottom: none;
}

.home #main-content {
    // display: flex;
    // align-items: stretch;
    background-color: var(--color-bg-dark);

    // ul li:nth-child(2),
    // ul li:nth-child(3) {
    //     display: none;
    // }

    .slider-item__image {
        aspect-ratio: 16 / 10;
        object-fit: cover;
    }

    .slider-item__copy {
        padding: 1.75rem;
    }

    p {
        font-weight: 300;
    }
}

@media (min-width: 60rem) {

    .home #main-content {
        
        .slider {
            width: 100%;
            height: 100%;
        }

        .slider-item {
            display: flex;
            align-items: self-end;
            flex-direction: row-reverse;
            justify-content: space-between;
            // height: 100%;
        }

        .slider-item__copy {
            padding: 0 2.5rem 5rem 6rem;
            flex: 0.33
        }

        p {
            max-width: 640px;
        }

        figure {
            height: 100%;
            flex: 0.66;
            // display: flex;
            justify-content: flex-end;

            img {
                height: 100%;
                // object-fit: cover;
            }
        }
    }
}

.main-carousel {
    // height: 100%;
    height: calc( 100vh - (84px + 242px));
}

.flickity-slider {
    width: 100%;
}

.carousel-cell {
    width: 100%; /* full width */
    height: 100%; 
    // margin-right: 10px;
}

// Prev/Next Buttons 

/* no circle */
// .flickity-button {
//     background: rgba(255,255,255,0.5);
// }

/* icon color */
// .flickity-button-icon {
//     fill: black;
// }

// .flickity-prev-next-button {
//     width: 32px;
//     height: 32px;
// }

// Dots 

/* position dots up a bit */
.flickity-page-dots {
    bottom: 22px;
}

/* dots are lines */
.flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 1px;
    border-radius: 0;
}

// @media (max-width: 59.99rem) {
//     .flickity-button {
//         display: none;
//     }
// }

@media (min-width: 60rem) {

    .flickity-page-dots {
        text-align: left;
        padding-left: 5.5rem;
    }
}

