.projects {

  &.post-list {

    .post-list__items {

      @media (min-width: 48rem) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
      }

      @media (min-width: 75rem) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    // .post-list__item {
    // }

    .post-list__link,
    .post-list__link:visited {
      color: var(--color-text);
    }

    .post-list__image {
      object-fit: cover;
      object-position: center;
      aspect-ratio: 16/10;
    }

    .post-list__tags {
      text-align: right;
      margin-top: -31px;

      .nav__item {
        font-size: get-size(200);
        @include apply-utility('weight', 'regular');
        text-transform: uppercase;

        .post-list__tag {
          background-color: var(--color-bg);
          color: var(--color-text);
          padding: 4px 6px;
        }
      }
    }
  }
}

.sub-nav {

  .nav__item:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}


