.intro__heading {
  max-width: 50ex;
  text-align: center;
  text-transform: uppercase;
}

.projects {

  &.post-list {

    .post-list__items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 40px;
    }

    // .post-list__item {
    // }

    .post-list__link,
    .post-list__link:visited {
      color: var(--color-text);
    }

    .post-list__image {
      object-fit: cover;
      object-position: center;
      aspect-ratio: 16/10;
    }

    .post-list__tags {
      text-align: right;
      margin-top: -31.5px;
    }

    .post-list__tag {
      @include apply-utility('weight', 'regular');
      background: var(--color-theme-highlight-block);
      color: var(--color-text);
      // background: var(--color-text);
      // color: white;
      padding: 4px 6px;
      text-transform: uppercase;
    }
  }
}


