{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Main content #}
{# {% set aboutText = about_text %}
{% set aboutCTA = about_cta %}
{% set aboutUrl = about_url %}
{% set aboutImg = about_img %}

{% set projectsText = projects_text %}
{% set projectsCTA = projects_cta %}
{% set projectsUrl = projects_url %}
{% set projectsImg = projects_img %}

{% set contactText = contact_text %}
{% set contactCTA = contact_cta %}
{% set contactUrl = contact_url %}
{% set contactImg = contact_img %} #}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
