{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Main content #}
{% set about = about %}
{% set aboutText = about.about_text %}
{% set aboutCTA = about.about_cta %}
{% set aboutUrl = about.about_url %}
{% set aboutImg = about.about_img %}

{% set projects = projects %}
{% set projectsText = projects.projects_text %}
{% set projectsCTA = projects.projects_cta %}
{% set projectsUrl = projects.projects_url %}
{% set projectsImg = projects.projects_img %}

{% set contact = contact %}
{% set contactText = contact.contact_text %}
{% set contactCTA = contact.contact_cta %}
{% set contactUrl = contact.contact_url %}
{% set contactImg = contact.contact_img %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/home.njk" %}
    {# {% include "partials/components/intro.njk" %} #}
    {# {% include "partials/components/post-list.njk" %} #}
    {# {% include "partials/components/pagination.njk" %} #}
  </main>
{% endblock %}
